.activity-page {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.activity-image {
    background-image: url("https://cdn.cdnparenting.com/articles/2018/04/338324834-H.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 5px;
}

.activity-page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
