.activity-page {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.activity-image {
}

.activity-page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
