.activityUI {
    padding: 0 2vw;
}

.activity-card {
    margin-top: 2rem;
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 30rem;
    border-radius: 5px;
    box-shadow: 2px 4px 4px #bebebe;
    font-size: 1rem;
}

.activity-card-header {
    padding: 1rem 2rem;
    color: #24678d;
    font-size: 1.1rem;
    /* color: rgb(218, 68, 68); */
    border-bottom: 1px solid #bebebe;
}

.activity-card-body {
    padding: 2rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.activity-card-title {
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    color: rgb(36, 141, 108);
}

.activity-card-content {
    margin-bottom: 2rem;
}

.button {
    background-color: rgb(218, 68, 68);
    border: none;
    border-radius: 5px;
    color: white;
    width: 10rem;
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.1s;
    font-family: inherit;
    font-size: 16px;
    text-transform: capitalize;
}

.button:hover {
    background-color: rgb(199, 62, 62);
}
