.tilesUI {
    display: grid;
    grid-template-columns: 70% 30%;
}

.tilesUI-title {
    font-size: 1.25rem;
    color: rgb(36, 141, 108);
}

.tilesUI-card {
    margin-top: 2rem;
}

.categoriesUI {
    font-size: 1.15rem;
    color: rgb(36, 141, 108);
    justify-self: center;
}
