.tilesUI {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 2rem;
}

.tilesUI-title {
    font-size: 1.25rem;
    color: rgb(36, 141, 108);
}

.tilesUI-card {
}

.categoriesUI {
    font-size: 1.15rem;
    color: rgb(36, 141, 108);
    justify-self: center;
}
