.cardUI {
    display: grid;
    grid-template-columns: 1fr 16rem;
    grid-gap: 1rem;
}

.cardUI-header {
    font-size: 1.15rem;
    color: #24678d;
    font-weight: 600;
}

.cardUI-body {
    margin-top: 1rem;
    display: flex;
}

.cardUI-body-image {
}

.cardUI-body-content {
    font-size: 1rem;
    padding: 0rem;
    margin: 0rem;
    color: #3f3f3f;
}

.cardUI-body-content-desc,
.cardUI-body-content-desc p,
.cardUI-body-content-desc ul,
.cardUI-body-content-desc li,
.cardUI-body-content-desc span,
.cardUI-body-content-desc div {
    color: #3f3f3f !important;
    line-height: 25.144px !important;
}

.cardUI-body-content-desc * {
    font-family: inherit !important;
}

.cardUI-body-content-item {
    list-style-type: none;
    margin-bottom: 0.75rem;
}

.register-btn {
    background-color: rgb(218, 68, 68);
    border: none;
    border-radius: 2px;
    color: white;
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.1s;
    font-family: inherit;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.25rem;
}

.register-btn:hover {
    background-color: rgb(199, 62, 62);
}
