.cardUI {
    display: grid;
    grid-template-columns: 1fr 16rem;
    grid-gap: 1rem;
}

.cardUI-header {
    font-size: 1.15rem;
    color: #24678d;
    font-weight: 600;
}

.cardUI-body {
    margin-top: 1rem;
    display: flex;
}

.cardUI-body-image {
    background-image: url("https://cdn.cdnparenting.com/articles/2018/04/338324834-H.jpg");
    background-repeat: no-repeat;
    background-position: bottom;

    border-radius: 5px;
    height: 14rem;
    min-width: 15rem;
}

.cardUI-body-content {
    font-size: 1rem;
    padding: 0rem;
    margin: 0rem;
    color: #3f3f3f;
}

.cardUI-body-content-item {
    list-style-type: none;
    margin-bottom: 0.75rem;
}

.register-btn {
    background-color: rgb(218, 68, 68);
    border: none;
    border-radius: 2px;
    color: white;
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.1s;
    font-family: inherit;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.25rem;
}

.register-btn:hover {
    background-color: rgb(199, 62, 62);
}
